body {
  margin: 0;
  background: linear-gradient(180deg, rgb(211, 211, 211), rgb(208, 202, 198));
  display: flex;
  font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: rgb(75, 44, 22);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5%;
}

.welcome {
  margin-bottom: 10%;
}

.logo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}

.logo-item {
  width: 20%; /* fill grid cell */
}

.logo-item img {
  width: 100%;
  height: auto;
  display: block;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 900px;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: stretch;
}

.two-col-grid .item {
  width: auto;
  background: #f3f3f3;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  border: .25rem solid #706666;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-3px)
}