body {
  margin: 0;
  background: linear-gradient(270deg, rgb(186, 108, 0), rgb(150, 60, 0));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

