body {
  margin: 0;
  background: linear-gradient(270deg, rgb(186, 108, 0), rgb(150, 60, 0));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.logo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc();
  width: 100%;
}

.logo-item {
  width: 100%; /* fill grid cell */
}

.logo-item img {
  width: 100%; /* scale with parent */
  height: auto; /* maintain aspect ratio */
  display: block; /* remove inline spacing */
}

